html {
  scroll-behavior: smooth;
}
h1{
font-size: 100px;
}

h2{
  font-size: 60px;
}

p{
  font-size: 30px;
}

li{
  font-size: 40px;
}

.header-mypage {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1em;
  grid-auto-rows: minmax(80px, 100px);
  background-color: #19344d;
}

.header-mypage > div{
  padding: 1em;
  align-self: center;
}

#header-logo{
  padding-left: 1em;
}


#navbar-menu {
  list-style-type: none;
}

#navbar-menu > li {
  float: left;
}

#navbar-menu > li a {
  display: block;
  text-align: center;
  padding: 15px;
  color: white;
  text-decoration: none;
}

#navbar-menu > li a:hover {
  border-style: outset;
  border-radius: 5px;
  border-width: thick;
}

.main-mypage {
  display: grid;
  grid-auto-rows: minmax(600px, auto);
}

.main-mypage > div{
padding: 1em;
}

#home-mypage {
background-image: url('pexels-marcelo-chagas-3324442.jpg');
background-size: 100%;
color: white;
text-align: center;
}

#history-mypage{
background-image: url('pexels-rachel-claire-5864291.jpg');
background-size: 100%;
color: white;
text-align: center;
}

#order{
background-image: url('pexels-robin-stickel-70497.jpg');
background-size: 100%;
color: black;
text-align: center;
}

#order-text{
  background-size: 500px 600px;
  display: grid;
  grid-template-columns: max-content;
  justify-content: center;
  justify-items: center;
  grid-gap: 2em;
  padding:50px;
}

#background-order{
  background: rgb(203 196 196 / 80%);
  padding: 2em;
}

#BranniganLogo{
  height: 150px;
}

.button-login {
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

#myDropdownMenu:hover {
  background-color: #008CBA;
  color: white;
}

.whiteBunny{
  float: right;
}

.whiteBunny:hover {
  background-color: #19344d;
  border-style: outset;
  border-radius: 5px;
  border-width: thick;
}

.show-discount{
  display: none;
  text-shadow: 3px 3px gray;
  float: right;
  color: white;
  font-weight: bolder;
  border-style: outset;
  border-radius: 5px;
  border-width: thick;
}
